body {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	//main colour
	--primary-blue: #18395F;
    --primary-gold: #8F6F4C;
    --primary-eggshell: #E9E2DB;

	//secondary colour
    --secondary-navy: #072240;
    --secondary-plum: #602748;
    --secondary-teal: #00BBB5;

	//main colour with transparent
	--primary-blue-transparent: #18395f83;
    --primary-gold-transparent: #8f6f4ca6;
    --primary-eggshell-transparent: #e9e2dba8;

	//font colour
	--font-primary-eggshell: #f6f4f1;
	--font-secondary-eggshell: #E9E2DB;

    --shadow: #18395f83 0px 4px 12px;
    --main-box-shadow: 0px 2px 4px #18395f83;
    --title-box-shadow: #18395f83 1.95px 1.95px 2.6px;
    
}

.box-dashboard{
    padding: 5px 2px 5px 2px;
}

.box-top{
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 13rem;
    background: white;
}

.box-top-main{
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 3rem;
    background: white;

    .main-head{
        font-size: 1.7rem;
    }
}

.box-top-minor{
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 9rem;
    background: white;
}

.box-bottom{
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 28rem;
    background: white;
}

.head{
    display: block;
}

.details{
    height: calc(100% - 38px);
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;

    &.all{
        background-image: url('../images/icon/money.png');
    }

    &.in{
        background-image: url('../images/icon/checked.png');
    }

    &.out{
        background-image: url('../images/icon/unchecked.png');
    }

    .first-details{
        font-size: 1.6rem;
        color: var(--primary-gold);
    }

    .second-details{
        font-size: 1.4rem;
    }

    .third-details{
        font-size: .9rem;
    }
}

.details-chart{
    height: calc(100% - 30px);
}

.more-chart{
    height: 100%;
}

.value-no{
    color: var(--primary-gold);
}

.thead-dataTable{
    color: white;
    background-color: var(--primary-blue);
}

.file_showing{
    display: flex;
    justify-content: center;
}

.button-style{
    margin: 5px;
    text-align: center;
    padding-top: 40px;
}

.space-bottom{
    margin-bottom: 10px;
}

.main-box{
    box-shadow: var(--title-box-shadow);
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
}

.secondary-box{
    box-shadow: var(--main-box-shadow);
    height: 11rem;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.third-box{
    box-shadow: var(--main-box-shadow);
    height: 13rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.last-box{
    box-shadow: var(--main-box-shadow);
    height: 15rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.file-format{
    font-size: 13px;
}

.file-size-alert{
    font-size: 13px;
    color: red;
}